{
	"bot_link": "https://discord.com/api/oauth2/authorize?client_id=YOURCLIENTID&permissions=149504&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A5050%2Fauth%2Fdiscord%2Fcallback&scope=bot&guild_id="
}